html, body {
    min-height: 100%;
}

body {
    background-color: rgb(54, 54, 54);
    /* background-image: linear-gradient(240deg, rgb(54, 54, 54), rgb(64, 64, 64));
    background-repeat: no-repeat;
    background-size: cover; */
    background: linear-gradient(180deg, rgb(13, 33, 39) 0%, rgba(12, 35, 40, 1) 100%);
    color: rgb(231, 231, 231);
    /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(black), to(white));
    background: -webkit-linear-gradient(240deg, rgb(54, 54, 54), rgb(64, 64, 64));
    background: -moz-linear-gradient(240deg, rgb(54, 54, 54), rgb(64, 64, 64));
    background: -ms-linear-gradient(240deg, rgb(54, 54, 54), rgb(64, 64, 64));
    background: -o-linear-gradient(240deg, rgb(54, 54, 54), rgb(64, 64, 64));
    background: linear-gradient(240deg, rgb(54, 54, 54), rgb(64, 64, 64)); */
}
#nav {
    border: 5px;
    border-color:brown;
    justify-content: center;
    background-color: brown;
}
#score {
    text-align: center;
}
#production {
    text-align: center;
}

#scoreContainer,
#buttonContainer,
#unit1,
#unit2,
#unit3,
#unit4,
#upgradeContainer {
    border-style: solid;
    border-color: rgb(11, 14, 59);
    border-radius: 5px;
}



#scoreContainer {
    height: 150px;
}
#buttonContainer {
    grid-row-start: 2;
    grid-row-end: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(8,191,242);
    background: linear-gradient(180deg, rgba(33,176,215,1) 0%, rgba(12,35,40,1) 100%);
}
#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
#unit1 {
    grid-column: 2;
    height: 150px;
    line-height: 75%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#shrimp {
    height: 200px;
    width: 200px;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#progressBarUnit1 {
    width: 100%;
    background-color: rgba(128, 128, 128, 0);
}
#unit1ProgressBarProgressing {
    margin-top: 4px;
    width: 0%;
    height: 20px;
    background-color: rgb(0, 128, 0);
    border-radius: 2px;
}
#progressBarUnit2 {
    width: 100%;
    background-color: rgba(128, 128, 128, 0);
}
#unit2ProgressBarProgressing {
    width: 0%;
    height: 20px;
    background-color: rgb(0, 128, 0);
    border-radius: 2px;
    margin-top: 4px;
}
#progressBarUnit3 {
    width: 100%;
    background-color: rgba(128, 128, 128, 0);
}
#unit3ProgressBarProgressing {
    width: 0%;
    height: 20px;
    background-color: rgb(0, 128, 0);
    border-radius: 2px;
    margin-top: -20px;
}
#progressBarUnit4 {
    width: 100%;
    background-color: rgba(128, 128, 128, 0);
}
#unit4ProgressBarProgressing {
    width: 0%;
    height: 20px;
    background-color: rgb(0, 128, 0);
    border-radius: 2px;
    margin-top: 4px;
}
#unit2{
    grid-column: 2;
    height: 150px;
    line-height: 75%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#unit3 {
    grid-column: 2;
    height: 150px;
    line-height: 75%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#unit4 {
    grid-column: 2;
    height: 150px;
    line-height: 75%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#upgradeContainer {
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
}
#unitFlex {
    display: flex;
}
#unitFlexLeft{
    width: 33%;
}
#unitFlexCenter{
    width:auto;
}
#unitFlexRight{
    width:33%;
    pointer-events: none;
    justify-content: right;
}
.unitQuantityContainer{
    font-size: 140px;
    margin: auto;
    line-height: 110%;
    text-align: right;
    width: 100%;
    display: block;
}
#unitImage {
    height: 150px;
    width: 150px;
}
.hide {
    display: none;
    border-style: solid;
    border-width: 2px;
    min-width: 100px;
    background-color: rgba(37, 40, 41, 0.685);
    color: rgb(231, 231, 231);
    z-index: 1;
    padding: 5px;
}
.upgrade {
    height: 50px;
    width: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 5px;
    margin: 5px;
    display: none;
}

#unit1Upgrade1 {
    /* display:none; */
}
#unit1Upgrade1:hover + #hideU1U1,
#hideU1U1:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

#unit1Upgrade2 {
    /* display:none; */
}
#unit1Upgrade2:hover + #hideU1U2,
#hideU1U2:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

#unit1Upgrade3 {
    /* display:none; */
}
#unit1Upgrade3:hover + #hideU1U3,
#hideU1U3:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

#unit1Upgrade4 {
    /* display:none; */
}
#unit1Upgrade4:hover + #hideU1U4,
#hideU1U4:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

#unit1Upgrade5 {
    /* display:none; */
}
#unit1Upgrade5:hover + #hideU1U5,
#hideU1U5:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}


#unit2Upgrade1 {
    /* display:none; */
}
#unit2Upgrade1:hover + #hideU2U1,
#hideU2U1:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

#unit2Upgrade2 {
    /* display:none; */
}
#unit2Upgrade2:hover + #hideU2U2,
#hideU2U2:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

#unit2Upgrade3 {
    /* display:none; */
}
#unit2Upgrade3:hover + #hideU2U3,
#hideU2U3:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

#unit2Upgrade4 {
    /* display:none; */
}
#unit2Upgrade4:hover + #hideU2U4,
#hideU2U4:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

#unit2Upgrade5 {
    /* display:none; */
}
#unit2Upgrade5:hover + #hideU2U5,
#hideU2U5:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

#unit3Upgrade1 {
    /* display:none; */
}
#unit3Upgrade1:hover + #hideU3U1,
#hideU3U1:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

#unit3Upgrade2 {
    /* display:none; */
}
#unit3Upgrade2:hover + #hideU3U2,
#hideU3U2:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

#unit3Upgrade3 {
    /* display:none; */
}
#unit3Upgrade3:hover + #hideU3U3,
#hideU3U3:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

#unit3Upgrade4 {
    /* display:none; */
}
#unit3Upgrade4:hover + #hideU3U4,
#hideU3U4:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

#unit3Upgrade5 {
    /* display:none; */
}
#unit3Upgrade5:hover + #hideU3U5,
#hideU3U5:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

#unit4Upgrade1 {
    /* display:none; */
}
#unit4Upgrade1:hover + #hideU4U1,
#hideU4U1:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

#unit4Upgrade2 {
    /* display:none; */
}
#unit4Upgrade2:hover + #hideU4U2,
#hideU4U2:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

#unit4Upgrade3 {
    /* display:none; */
}
#unit4Upgrade3:hover + #hideU4U3,
#hideU4U3:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

#unit4Upgrade4 {
    /* display:none; */
}
#unit4Upgrade4:hover + #hideU4U4,
#hideU4U4:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

#unit4Upgrade5 {
    /* display:none; */
}
#unit4Upgrade5:hover + #hideU4U5,
#hideU4U5:hover {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left:30px;
}

